@import "@/styles/global-imports";

.MobileCarousel {
  display: block;
  grid-column: 1 / -1;
  margin-bottom: 20px;

  text-align: center;

  & img {
    width: 100%;
    max-width: 400px;
  }

  @include onMediumScreen {
    display: none;
  }
}
